.Panel {
    position: absolute;
    top: 75px;
    left: 10px;
    min-height: 400px;
    z-index: 10;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    border: 1px solid gray;
    padding: 15px;
}